<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optgroup</title>
</head>
<body>
    <a href="/">Home</a>
    <div class="wrapper">
        <h2>Select with <b>optgroup</b></h2>
        <select style="width: 200px;">
            <optgroup label="Vegetables">
                <option>Lettuce</option>
                <option>Carrots</option>
            </optgroup>
            <optgroup label="Fruits">
                <option>Apple</option>
                <option>Banana</option>
            </optgroup>
        </select>
    </div>
</body>
</html>