/* Style the container */
.container {
    width: 80%;
    margin: 20px auto; 
}

/* Style Tabs */
.tabs {
    margin-top: 20px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* Style the buttons */
.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    cursor: pointer;
    transition: 0.3s;
}
/* Change bakground color of the buttons on hover */
.tabs button:hover {
    background-color: #ddd;
}
/*Create a current/active button class */
.tabs button.active {
    background-color: #ccc;
}
/* Stlye the tab content */
.tabcontent {
    
    display: none;
    padding: 6px 12px;
    padding-right: 64px;
    border: 1px solid #ccc;
    border-top: none; 
}
/* Style the active tab */
.tabcontent.active {
    display: block;
}