body {
	font-size: 1.3rem;
}
search {
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
}
#perfumes {
	padding: 4px;
	border: 1px solid #ddd;
	border-radius: 8px;
}
button {
	outline: none;
	border-radius: 16px;
	border: 2px solid rgba(0, 0, 0, 0.5);
	padding: 4px 16px;
	cursor: pointer;
}
button:hover {
	background-color: lightblue;
	color: white;
}
.profile {
	width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.photo {
	padding: 10px;
}
.photo img {
	width: 70px;
	border-radius: 100%;
}
p {
	padding-right: 60px;
}
aside {
	max-width: 45%;
	padding: 4px 20px;
	border: 1px solid #ddd;
	border-radius: 12px;
	margin-top: -20px;
	float: right;
}

aside a {
	font-size: 14px;
}

section,
article {
	padding: 0 20px;
	max-width: 90vw;
}
figure {
	width: 350px;
	margin: 0;
	padding: 10px 0 20px;
	border-radius: 20px 0;
	background-color: rgb(209, 42, 30);
	text-align: center;
}
figcaption {
	padding: 8px 0;
	font-size: 12px;
	font-family: sans-serif;
}
