body {
	font-size: 1.3rem;
}
h1,
h2,
h3 {
	color: rgba(195, 58, 34, 1);
}
p {
	font-family: sans-serif;
	padding-right: 60px;
}
header {
	width: 100%;
}
search {
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
}
form {
	display: flex;
	justify-content: flex-start;
}
label {
	display: none;
}
#perfumes {
	padding: 4px;
	margin-right: 10px;
	border: 1px solid #ddd;
	border-radius: 8px;
}
button {
	outline: none;
	border-radius: 16px;
	border: 2px solid rgba(0, 0, 0, 0.5);
	padding: 4px 16px;
	cursor: pointer;
}
button:hover {
	background-color: lightblue;
	color: white;
}
.profile {
	width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.photo {
	padding: 10px;
}
.photo img {
	width: 70px;
	border-radius: 100%;
}
aside {
	max-width: 45%;
	padding: 4px 20px;
	border: 1px solid #ddd;
	border-radius: 12px;
	margin-top: -20px;
	float: right;
}

aside a {
	font-size: 14px;
}

section,
article {
	padding: 0 20px;
	max-width: 90vw;
}
#hobbies ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
#hobbies ul li {
	margin: 0 10px;
}
figure {
	width: 300px;
	height: 250px;
	min-height: fit-content;
	margin-left: -40px;
	padding: 20px 10px;
	background-color: rgb(195, 58, 34);
	border-radius: 8px 8px 8px 8px;
	background: linear-gradient(
		180deg,
		rgba(195, 58, 34, 0.6) 0%,
		rgba(23, 12, 4, 1) 100%
	);
	text-align: center;
}
figure img {
	width: 90%;
	max-width: 300px;
}
li:first-child figure img {
	width: 62%;
	border: 1px solid rgba(0, 0, 0, 0.5);
}
figcaption {
	padding: 8px 20px;
	font-size: 12px;
	font-family: sans-serif;
	color: white;
}
audio {
	width: 80%;
}
