html {
  font-family: 'Monteserat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 40px;
  /* background-color: burlywood;
  background-image: url('../Images/Invoice/note-taking.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
  background: burlywood url('../Images/Invoice/note-taking.jpg') no-repeat fixed center;
  background-size: cover;
  background-blend-mode: luminosity;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items:flex-start;
}
.wrapper h1 {
  font-size: 0.95em;
}

table {
  width: inherit;
  margin: 4px;
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.7em;
  
}
caption {
  font-size: 1.5em;
  text-align: left;
  font-weight: 800;
  
}
td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}