<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meter</title>
</head>
<body>
    <a href="/"></a>
    <h2>Meter Component</h2>
    <div class="wrapper">
        English:
        <meter
            min="0"
            max="70"
            low="30"
            high="50"
            optimum="70"
            value="20"
            aria-label="student marks"
        ></meter>
        Mathematics:
        <meter
            min="0"
            max="70"
            low="30"
            high="50"
            optimum="70"
            value="40"
            aria-label="student marks"
        ></meter>
        Biology:
        <meter
            min="0"
            max="70"
            low="30"
            high="50"
            optimum="70"
            value="60"
            aria-label="student marks"
        ></meter>
    </div>
</body>
</html>